nav {
    min-width: 200px;
}

.item {
    font-size: 25px;
    color: #fff;
    text-align: left;
    padding: 5px 5px 5px 0;
    cursor: pointer;
    overflow: hidden;
}

.item a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.item a:hover {

    color: blue;
    transition: .3s;
    background-color: rgb(162, 214, 177);
    opacity: .5;
}

.activeLink {
    transition: .3s;
    padding: 0 -1;
    text-align: right;
    color: blue;
    background-color: rgb(82, 179, 111);
    opacity: .5;    
}

.menuWrapper {
    padding-top: 20px;
    position: fixed;
    position: relative;
}