.header {

    grid-area: h;
    background-color: rgb(221, 150, 150);
    display: flex;
    min-width: 80%;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100px;
    padding: 0 0 0 50px;
    cursor: pointer;
}

.loginBlock, a {

    font-weight: bold;
    padding: 0 50px 0 0;
    text-decoration: none;
    color: aqua;
}