.header {

    grid-area: h;
    background-color: rgb(221, 150, 150);
    display: flex;
    min-width: 80%;
    position: fixed;
    z-index: 5;
}

.header img {
    width: 100px;
    padding: 0 50px;
    cursor: pointer;
}