.profileWallpaper {

    padding: 0;
}

img {

    width: 100%;
    padding: 0;
}

.information {
    display: flex;
    align-items: center;
}

.linksWrapper {

    margin: 10px;
}

.profileInfoAvatar {

    width: 200px;
    padding: 10px;
}

.name {
    font-size: 35px;
    color: #000;
}

.status {

    background-color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.socialItem {
    width: 48px;
}

.work div{
    color: #000;
    background-color: rgb(167, 152, 152);
}

.workDescr {

    font-size: 0.9rem;
}