.profileWallpaper {

    padding: 0;
}

img {

    width: 100%;
    padding: 0;
}

.information {
    padding: 20px;
    display: flex;
    /* align-items: center; */
    align-items: flex-start
}

.linksWrapper {

    margin: 10px;
}

.profileInfoAvatar {

    width: 200px;
    padding: 10px;
}

.about {
    width: 50%;
    margin-left: 30px;
    position: relative;
}

.name {
    font-size: 35px;
    color: #000;
}

.status {

    background-color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.socialItem {
    width: 48px;
}

.work div {
    color: #000;
    background-color: rgb(167, 152, 152);
}

.workDescr {

    font-size: 0.9rem;
}

.avatar {

    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

input[type='file'] {
    color: transparent;
    width: 100%;
    background-image: url(https://cdn1.iconfinder.com/data/icons/social-media-outline-6/128/SocialMedia_Instagram-Outline-256.png);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* margin: 0 20px 0 0; */
    cursor: pointer;
    opacity: 0;
    transition: .2s;
    margin-left: -50px;
    z-index: 1;
    height: 100%;
}

input[type='file']:hover {

    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

.avatarButtonWrapper {

    cursor: pointer;
    transition: .2s;
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatarButtonWrapper img {

    width: 20px;
    margin: 5%;
    z-index: 0;
    user-select: none;
    cursor: pointer;
    transform: scaleX(-1);
}

.avatarButtonWrapper:hover {

    background-color: rgba(0,0,0,.2);
}

.avatarButtonWrapper:hover img {

    margin-left: -15%;
    transition: .2s
}

.contact {

    margin: 0 10%;
    display: flex;
}

.contactLink {

    font-weight: normal;
    color: blue;
    margin-left: 10%;
}

.contactLink:hover {

    text-decoration: underline;
}

.editProfileIcon {

    width: 20px;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    top: 0;
    right: 0;
}

.editProfileIcon:hover {

    width: 30px;
}

.statusInput {

    width: 100px;
}

.avatarCanvas {

    width: 100%;
    height: 100%;
    background-color: #fff;
}