.spinner {

    display: block;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin: 40% auto;
    object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: spinner-spin infinite 2s linear;
    }
}

@keyframes spinner-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
