body {
  position: relative;
  overflow-x: hidden;

}

.app-wrapper {

  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  grid-template-areas: 
  "h h"
  "n c";
}

.nav {

  grid-area: n;
  background-color: rgb(161, 214, 228);
}


.app-wrapper-content {

  grid-area: c;
  background-color: rgb(145, 212, 148);
  color: blueviolet;
  min-height: 100vh;
  padding: 25px 0;
  min-width: 80%;
  box-shadow: unset(2,2,2, #000);
  position: relative;
}