.dialogs {

    display: grid;
    grid-template-columns: 4fr 10fr;
    font-size: 15px;
    line-height: 15px;
    /* color: #000; */
}


.dialogsItems .active {

    background-color: rgb(218, 0, 0);
}

.dialog {

    padding: 10px;
    /* border: 2px solid #000; */
    /* border-right: none; */

}

.dialog a {

    text-decoration: none;
    color: rgb(0, 0, 0);
}

.message {

    padding: 10px 0;
    /* border: 2px solid #000; */
    /* border-left: none; */
    color: rgb(59, 59, 59);
}